
@import './variables.scss' ;
@import './mixins.scss'   ;

@include responsive(md) {
    .checkbox-group {
      grid-template-columns: 1fr;
    }
    .info-section {
      width: calc(100% - 40px);
      right: 20px;  
      left: 20px;
      transform: translateY(-50%) translateY(100vh);
    }
    .info-section.open {
      transform: translateY(-50%) translateY(0);
    }
  }
  